<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blog Django Girls</title>
  </head>
  <body>
    <div>
      <h1>
	<a href="{% url 'post_list' %}"><em>Blog Django Girls</em></a>
      </h1>
      <p>Aqui você encontrará alguns posts sobre tecnologia.</p>
    </div>

    {% for post in posts %}
      <div>
	<p>publicado: {{ post.published_at }}</p>
	<h2>
	  <a href="">{{ post.title }}</a>
        </h2>
	<p>{{ post.body|linebreaks }}</p>
      </div>
    {% endfor %}
  </body>
</html>
