<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blog Django Girls</title>
    <style>
      body {
          font-family:  Arial, Helvetica, sans-serif;
	  background-color: lightblue;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>
	<a href="post_list.html"><em>Blog Django Girls</em></a>
      </h1>
      <p>Aqui você encontrará alguns posts sobre tecnologia.</p>
    </div>

    <div>
      <h2>
        <a href="">Meu primeiro post</a>
      </h2>
      <p>publicado: 14.06.2014, 12:14</p>
      <p>Amet laudantium facilis doloribus ab similique Soluta eligendi libero totam corrupti similique! Reiciendis nesciunt minima eos reprehenderit molestias Perspiciatis numquam autem harum beatae modi Aut libero architecto recusandae ea aliquid</p>
    </div>

    <div>
      <h2>
        <a href="">Meu segundo post</a>
      </h2>
      <p>publicado: 14.06.2014, 12:14</p>
      <p>Adipisicing praesentium accusantium amet tenetur reiciendis? Exercitationem dolor ducimus perferendis saepe blanditiis. Obcaecati deleniti explicabo aperiam eum tempore in! Enim enim sapiente iusto dolorem autem rem Repellat non culpa natus</p>
    </div>
  </body>
</html>
