{% extends 'blog/base.html' %}

{% block content %}
  <div class="post">
    {% if user.is_authenticated %}
      {% if not post.published_at %}
        <a href="{% url 'post_publish' post.id %}" class="btn-sm text-dark save" role="button"><i class="fas fa-check-double"></i></a>
      {% endif %}
      <a href="{% url 'post_edit' post.id %}" class="btn-sm text-dark save" role="button"><i class="far fa-edit"></i></a> 
    {% endif %}
    <h2>{{ post.title }}</h2>
    <div class="date">
      {{ post.author.get_full_name }} •
      {% if post.published_at %}
        {{ post.published_at|date:"SHORT_DATETIME_FORMAT" }}
      {% else %}
        {{ post.create_at|date:"SHORT_DATETIME_FORMAT" }}
      {% endif %}
    </div> 
    <hr>
    {{ post.body|linebreaks }}
  </div>
{% endblock %}
